In [1]:
import pandas as pd
# load in the flights csv
df = pd.read_csv('flights.txt', sep="|")
print(df)

         TRANSACTIONID  FLIGHTDATE AIRLINECODE  \
0             54548800    20020101          WN
1             55872300    20020101          CO
2             54388800    20020101          WN
3             54486500    20020101          WN
4             55878700    20020103          CO
...                ...         ...         ...
1191800      126750200    20130106          EV
1191801      127294500    20130106          DL
1191802      127294900    20130106          DL
1191803      126594900    20130106          EV
1191804      126620300    20130106          EV

                            AIRLINENAME TAILNUM  FLIGHTNUM ORIGINAIRPORTCODE  \
0            Southwest Airlines Co.: WN  N103@@       1425               ABQ
1        Continental Air Lines Inc.: CO  N83872        150               ABQ
2            Southwest Airlines Co.: WN  N334@@        249               ABQ
3            Southwest Airlines Co.: WN  N699@@        902               ABQ
4        Continental Air Lines Inc.: CO  N58606        234               ABQ
...                                 ...     ...        ...               ...
1191800    ExpressJet Airlines Inc.: EV  N683BR       5272               ATL
1191801        Delta Air Lines Inc.: DL  N949DL       1711               ATL
1191802        Delta Air Lines Inc.: DL  N907DE       1810               ATL
1191803    ExpressJet Airlines Inc.: EV  N855AS       5208               ATL
1191804    ExpressJet Airlines Inc.: EV  N138EV       5549               ATL

                                           ORIGAIRPORTNAME ORIGINCITYNAME  \
0         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
1         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
2         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
3         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
4         AlbuquerqueNM: Albuquerque International Sunport    Albuquerque
...                                                    ...            ...
1191800  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191801  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191802  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191803  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta
1191804  AtlantaGA: Hartsfield-Jackson Atlanta Internat...        Atlanta

        ORIGINSTATE  ... WHEELSON TAXIIN CRSARRTIME ARRTIME ARRDELAY  \
0                NM  ...   1648.0    4.0       1655  1652.0     -3.0
1                NM  ...   1419.0   16.0       1426  1435.0      9.0
2                NM  ...   1618.0    2.0       1500  1620.0     80.0
3                NM  ...   1947.0    1.0       1950  1948.0     -2.0
4                NM  ...   1742.0    5.0       1750  1747.0     -3.0
...             ...  ...      ...    ...        ...     ...      ...
1191800          GA  ...   1500.0    3.0       1523  1503.0    -20.0
1191801          GA  ...   2307.0   10.0       2321  2317.0     -4.0
1191802          GA  ...   1728.0    9.0       1750  1737.0    -13.0
1191803          GA  ...   1651.0    4.0       1658  1655.0     -3.0
1191804          GA  ...   1611.0    4.0       1609  1615.0      6.0

        CRSELAPSEDTIME  ACTUALELAPSEDTIME  CANCELLED  DIVERTED   DISTANCE
0                 90.0               87.0          F     False  580 miles
1                116.0              119.0      False         F  744 miles
2                105.0              102.0          F     False  718 miles
3                 85.0               83.0          0         0  487 miles
4                115.0              114.0          F     False  744 miles
...                ...                ...        ...       ...        ...
1191800          146.0              135.0          0         0  721 miles
1191801          151.0              150.0      False         F  731 miles
1191802          153.0              140.0          F     False  731 miles
1191803          102.0              101.0      False         F  508 miles
1191804           77.0               77.0      False     False  306 miles

[1191805 rows x 31 columns]

In [2]:
# - what’s wrong with the `DIVERTED` column? It looks right at a glance, but what is the type of each entry? Look up how to cast a column to a different type in pandas
print(df['DIVERTED'])
print(df['DIVERTED'].unique())

0          False
1              F
2          False
3              0
4          False
           ...
1191800        0
1191801        F
1191802    False
1191803        F
1191804    False
Name: DIVERTED, Length: 1191805, dtype: object
['False' 'F' '0' '1' 'True' 'T']

In [3]:
false_mask = df['DIVERTED'].isin(['False', 'F', '0', False])
true_mask = df['DIVERTED'].isin(['True', 'T', '1', True])

df['DIVERTED'][false_mask] = False
df['DIVERTED'][true_mask] = True

df['DIVERTED'] = df['DIVERTED'].astype(bool)

# display(df['DIVERTED'].unique())
display(df[true_mask])
display(df)

/Users/tawfiq/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/tawfiq/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
581,2520700,19920509,WN,Southwest Airlines Co.: WN,NaN,945,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,NaN,NaN,1610,NaN,NaN,145.0,NaN,0,True,896 miles
635,19330500,19950907,WN,Southwest Airlines Co.: WN,N343,375,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,NaN,NaN,2215,NaN,NaN,90.0,NaN,0,True,580 miles
1065,31896400,19980103,UA,United Air Lines Inc.: UA,N318UA,574,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,NaN,NaN,846,NaN,NaN,71.0,NaN,F,True,349 miles
1148,21660100,19960118,WN,Southwest Airlines Co.: WN,N350,1265,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,NaN,NaN,2220,NaN,NaN,105.0,NaN,F,True,718 miles
1315,25998800,19960924,WN,Southwest Airlines Co.: WN,N81,343,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,NaN,NaN,1230,NaN,NaN,115.0,NaN,0,True,677 miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1190200,130905600,20130922,EV,ExpressJet Airlines Inc.: EV,N760EV,5594,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,2303.0,5.0,1917,2308.0,NaN,106.0,NaN,F,True,534 miles
1190376,133421700,20140102,FL,AirTran Airways Corporation: FL,N278AT,1618,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1155.0,12.0,920,1207.0,NaN,120.0,NaN,False,True,591 miles
1190378,133667100,20140102,WN,Southwest Airlines Co.: WN,N656SW,181,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,NaN,NaN,1330,NaN,NaN,120.0,NaN,False,True,591 miles
1190463,133324600,20140105,EV,ExpressJet Airlines Inc.: EV,N928EV,5540,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,NaN,NaN,1633,NaN,NaN,83.0,NaN,False,True,357 miles
1190929,128617200,20130518,EV,ExpressJet Airlines Inc.: EV,N186PQ,4969,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1149.0,3.0,945,1152.0,NaN,132.0,NaN,0,True,761 miles

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,WHEELSON,TAXIIN,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1648.0,4.0,1655,1652.0,-3.0,90.0,87.0,F,False,580 miles
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1419.0,16.0,1426,1435.0,9.0,116.0,119.0,False,False,744 miles
2,54388800,20020101,WN,Southwest Airlines Co.: WN,N334@@,249,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1618.0,2.0,1500,1620.0,80.0,105.0,102.0,F,False,718 miles
3,54486500,20020101,WN,Southwest Airlines Co.: WN,N699@@,902,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1947.0,1.0,1950,1948.0,-2.0,85.0,83.0,0,False,487 miles
4,55878700,20020103,CO,Continental Air Lines Inc.: CO,N58606,234,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1742.0,5.0,1750,1747.0,-3.0,115.0,114.0,F,False,744 miles
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191800,126750200,20130106,EV,ExpressJet Airlines Inc.: EV,N683BR,5272,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1500.0,3.0,1523,1503.0,-20.0,146.0,135.0,0,False,721 miles
1191801,127294500,20130106,DL,Delta Air Lines Inc.: DL,N949DL,1711,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,2307.0,10.0,2321,2317.0,-4.0,151.0,150.0,False,False,731 miles
1191802,127294900,20130106,DL,Delta Air Lines Inc.: DL,N907DE,1810,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1728.0,9.0,1750,1737.0,-13.0,153.0,140.0,F,False,731 miles
1191803,126594900,20130106,EV,ExpressJet Airlines Inc.: EV,N855AS,5208,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1651.0,4.0,1658,1655.0,-3.0,102.0,101.0,False,False,508 miles
1191804,126620300,20130106,EV,ExpressJet Airlines Inc.: EV,N138EV,5549,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1611.0,4.0,1609,1615.0,6.0,77.0,77.0,False,False,306 miles

In [15]:
# - find out what’s wrong with the distance column and fix it. Hint: what is the `.sum()` of the distance col?
# display(df['DISTANCE'].str.split(' ').str.get(1).unique()) # check they are all in miles

df['DISTANCE_miles'] = df['DISTANCE'].str.split(' ').str.get(0).astype(int)
display(df['DISTANCE_miles'])

0          580
1          744
2          718
3          487
4          744
          ...
1191800    721
1191801    731
1191802    731
1191803    508
1191804    306
Name: DISTANCE_miles, Length: 1191805, dtype: int64

In [33]:
# - create a function that uses python’s datetime module to parse the “FLIGHTDATE” 
# to a python datetime object and map that column using the `.apply()` method
# display(df)
from datetime import datetime

df['FLIGHTDATE'] = df['FLIGHTDATE'].astype(str)
df['FLIGHTDATE_datetime'] = df['FLIGHTDATE'].apply(lambda flight_date: datetime.strptime(flight_date, '%Y%m%d'))

display(df)

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,CRSARRTIME,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DISTANCE_miles,FLIGHTDATE_datetime
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1655,1652.0,-3.0,90.0,87.0,F,False,580 miles,580,2002-01-01
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1426,1435.0,9.0,116.0,119.0,False,False,744 miles,744,2002-01-01
2,54388800,20020101,WN,Southwest Airlines Co.: WN,N334@@,249,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1500,1620.0,80.0,105.0,102.0,F,False,718 miles,718,2002-01-01
3,54486500,20020101,WN,Southwest Airlines Co.: WN,N699@@,902,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1950,1948.0,-2.0,85.0,83.0,0,False,487 miles,487,2002-01-01
4,55878700,20020103,CO,Continental Air Lines Inc.: CO,N58606,234,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1750,1747.0,-3.0,115.0,114.0,F,False,744 miles,744,2002-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191800,126750200,20130106,EV,ExpressJet Airlines Inc.: EV,N683BR,5272,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1523,1503.0,-20.0,146.0,135.0,0,False,721 miles,721,2013-01-06
1191801,127294500,20130106,DL,Delta Air Lines Inc.: DL,N949DL,1711,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,2321,2317.0,-4.0,151.0,150.0,False,False,731 miles,731,2013-01-06
1191802,127294900,20130106,DL,Delta Air Lines Inc.: DL,N907DE,1810,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1750,1737.0,-13.0,153.0,140.0,F,False,731 miles,731,2013-01-06
1191803,126594900,20130106,EV,ExpressJet Airlines Inc.: EV,N855AS,5208,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1658,1655.0,-3.0,102.0,101.0,False,False,508 miles,508,2013-01-06
1191804,126620300,20130106,EV,ExpressJet Airlines Inc.: EV,N138EV,5549,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1609,1615.0,6.0,77.0,77.0,False,False,306 miles,306,2013-01-06

In [34]:
# - now replace that code with `pd.to_datetime()`

from datetime import datetime

# df['FLIGHTDATE'] = df['FLIGHTDATE'].astype(str)
df['FLIGHTDATE_datetime_pd'] = pd.to_datetime(df['FLIGHTDATE'], format='%Y%m%d')

display(df)

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DISTANCE_miles,FLIGHTDATE_datetime,FLIGHTDATE_datetime_pd
0,54548800,20020101,WN,Southwest Airlines Co.: WN,N103@@,1425,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1652.0,-3.0,90.0,87.0,F,False,580 miles,580,2002-01-01,2002-01-01
1,55872300,20020101,CO,Continental Air Lines Inc.: CO,N83872,150,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1435.0,9.0,116.0,119.0,False,False,744 miles,744,2002-01-01,2002-01-01
2,54388800,20020101,WN,Southwest Airlines Co.: WN,N334@@,249,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1620.0,80.0,105.0,102.0,F,False,718 miles,718,2002-01-01,2002-01-01
3,54486500,20020101,WN,Southwest Airlines Co.: WN,N699@@,902,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1948.0,-2.0,85.0,83.0,0,False,487 miles,487,2002-01-01,2002-01-01
4,55878700,20020103,CO,Continental Air Lines Inc.: CO,N58606,234,ABQ,AlbuquerqueNM: Albuquerque International Sunport,Albuquerque,NM,...,1747.0,-3.0,115.0,114.0,F,False,744 miles,744,2002-01-03,2002-01-03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1191800,126750200,20130106,EV,ExpressJet Airlines Inc.: EV,N683BR,5272,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1503.0,-20.0,146.0,135.0,0,False,721 miles,721,2013-01-06,2013-01-06
1191801,127294500,20130106,DL,Delta Air Lines Inc.: DL,N949DL,1711,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,2317.0,-4.0,151.0,150.0,False,False,731 miles,731,2013-01-06,2013-01-06
1191802,127294900,20130106,DL,Delta Air Lines Inc.: DL,N907DE,1810,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1737.0,-13.0,153.0,140.0,F,False,731 miles,731,2013-01-06,2013-01-06
1191803,126594900,20130106,EV,ExpressJet Airlines Inc.: EV,N855AS,5208,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1655.0,-3.0,102.0,101.0,False,False,508 miles,508,2013-01-06,2013-01-06
1191804,126620300,20130106,EV,ExpressJet Airlines Inc.: EV,N138EV,5549,ATL,AtlantaGA: Hartsfield-Jackson Atlanta Internat...,Atlanta,GA,...,1615.0,6.0,77.0,77.0,False,False,306 miles,306,2013-01-06,2013-01-06

In [38]:
   # - use the `.duplicated()` method to count how many exact duplicates there are in the dataset
duplicated = df.duplicated(keep='last')
display(df[duplicated])

# No duplicates found?

Empty DataFrame
Columns: [TRANSACTIONID, FLIGHTDATE, AIRLINECODE, AIRLINENAME, TAILNUM, FLIGHTNUM, ORIGINAIRPORTCODE, ORIGAIRPORTNAME, ORIGINCITYNAME, ORIGINSTATE, ORIGINSTATENAME, DESTAIRPORTCODE, DESTAIRPORTNAME, DESTCITYNAME, DESTSTATE, DESTSTATENAME, CRSDEPTIME, DEPTIME, DEPDELAY, TAXIOUT, WHEELSOFF, WHEELSON, TAXIIN, CRSARRTIME, ARRTIME, ARRDELAY, CRSELAPSEDTIME, ACTUALELAPSEDTIME, CANCELLED, DIVERTED, DISTANCE, DISTANCE_miles, FLIGHTDATE_datetime, FLIGHTDATE_datetime_pd]
Index: []

[0 rows x 34 columns]

In [39]:
# - we might want to remove rows that are not exact duplicates, 
#  but are duplicates across some subset of columns. 
# For example, if we have duplicate users in a table 
#  with the same user_id, but maybe different bios, they should probably be marked as duplicate. 

# Use the `subset` kwarg in the `.duplicated()` method 
#  to check for entries that are matched exactly at the following columns

       # - `“ORIGAIRPORTNAME”, “DESTAIRPORTNAME”, “AIRLINECODE”, “FLIGHTDATE”, “CRSDEPTIME”, “DEPTIME”, “ARRTIME”`
duplicate_columns_to_check = ["ORIGAIRPORTNAME", "DESTAIRPORTNAME", "AIRLINECODE", "FLIGHTDATE", "CRSDEPTIME", "DEPTIME", "ARRTIME"]
duplicated = df.duplicated(subset=duplicate_columns_to_check)

display(df[duplicated])

,TRANSACTIONID,FLIGHTDATE,AIRLINECODE,AIRLINENAME,TAILNUM,FLIGHTNUM,ORIGINAIRPORTCODE,ORIGAIRPORTNAME,ORIGINCITYNAME,ORIGINSTATE,...,ARRTIME,ARRDELAY,CRSELAPSEDTIME,ACTUALELAPSEDTIME,CANCELLED,DIVERTED,DISTANCE,DISTANCE_miles,FLIGHTDATE_datetime,FLIGHTDATE_datetime_pd
125015,22097200,19960118,AA,American Airlines Inc.: AA,UNKNOW,1988,MCI,Kansas CityMO: Kansas City International,Kansas City,MO,...,NaN,NaN,NaN,NaN,True,False,460 miles,460,1996-01-18,1996-01-18
162445,27453500,19970113,AA,American Airlines Inc.: AA,UNKNOW,2056,IAH,HoustonTX: George Bush Intercontinental/Houston,Houston,TX,...,NaN,NaN,NaN,NaN,True,False,224 miles,224,1997-01-13,1997-01-13
377882,21910200,19960107,AA,American Airlines Inc.: AA,UNKNOW,1009,DCA,WashingtonDC: Ronald Reagan Washington National,Washington,VA,...,NaN,NaN,NaN,NaN,True,False,612 miles,612,1996-01-07,1996-01-07
453974,1977500,19920528,AS,Alaska Airlines Inc.: AS,NaN,118,ANC,AnchorageAK: Ted Stevens Anchorage International,Anchorage,AK,...,1405.0,-5.0,200.0,195.0,False,False,1448 miles,1448,1992-05-28,1992-05-28
603813,21097100,19960108,AA,American Airlines Inc.: AA,UNKNOW,1684,DFW,Dallas/Fort WorthTX: Dallas/Fort Worth Interna...,Dallas/Fort Worth,TX,...,NaN,NaN,NaN,NaN,True,False,1192 miles,1192,1996-01-08,1996-01-08
760553,32274400,19980108,AA,American Airlines Inc.: AA,UNKNOW,2098,LAX,Los AngelesCA: Los Angeles International,Los Angeles,CA,...,NaN,NaN,NaN,NaN,True,False,1745 miles,1745,1998-01-08,1998-01-08
769567,22394500,19960107,AA,American Airlines Inc.: AA,UNKNOW,2,LAX,Los AngelesCA: Los Angeles International,Los Angeles,CA,...,NaN,NaN,NaN,NaN,True,False,2475 miles,2475,1996-01-07,1996-01-07
810576,21756100,19960108,AA,American Airlines Inc.: AA,UNKNOW,1485,LGA,New YorkNY: LaGuardia,New York,NY,...,NaN,NaN,NaN,NaN,True,False,1097 miles,1097,1996-01-08,1996-01-08
1174656,31977700,19980106,AA,American Airlines Inc.: AA,UNKNOW,378,ORD,ChicagoIL: Chicago O'Hare International,Chicago,IL,...,NaN,NaN,NaN,NaN,True,False,733 miles,733,1998-01-06,1998-01-06
1175821,20838000,19960108,AA,American Airlines Inc.: AA,UNKNOW,1920,ORD,ChicagoIL: Chicago O'Hare International,Chicago,IL,...,NaN,NaN,NaN,NaN,True,False,783 miles,783,1996-01-08,1996-01-08
1175879,21808800,19960111,AA,American Airlines Inc.: AA,UNKNOW,1995,ORD,ChicagoIL: Chicago O'Hare International,Chicago,IL,...,NaN,NaN,NaN,NaN,True,False,334 miles,334,1996-01-11,1996-01-11
1185114,27174500,19970126,AA,American Airlines Inc.: AA,UNKNOW,1140,ORD,ChicagoIL: Chicago O'Hare International,Chicago,IL,...,NaN,NaN,NaN,NaN,True,False,334 miles,334,1997-01-26,1997-01-26

In [40]:
# - what are the different values for the `keep` kwarg? What do they do? Which do you want to use here?

In [ ]:
   # - use the `.drop_duplicates()` method to remove the duplicates
   # - look up how to use the `.sort_values()` method and sort the dataframe
   # - look up how to use the `.unique()` method and check the ‘TAILNUM’ column. Notice anything that shouldn’t be there?
   # - replace
   # - use the `.value_counts()` method to count the different values in the “CANCELLED” column. There is definitely something wrong. Check out the `.replace()` method and fix it. What are the types of arguments that `.replace()` can take in?
   # - where appropriate, convert numerical columns into categories